Insert_into_superbase_vector.json
{
  "name": "Insert into superbase vector",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "fileId": "A7362CC259A9624F%21sea68275298b845e3a4f04856da7d917c"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        360,
        -60
      ],
      "id": "59fcd2c3-501c-47e0-b53e-3f9b08ee8b83",
      "name": "Microsoft OneDrive1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "RXYqnafgLgyH00ow",
          "name": "Microsoft Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['@microsoft.graph.downloadUrl'] }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        -60
      ],
      "id": "1276da53-4cdd-4520-b254-2a92e3a143e4",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        -60
      ],
      "id": "549eb8f2-f990-4920-8df3-7a71919e19f4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        800,
        -60
      ],
      "id": "249b7ef3-2404-479e-a0aa-d3fd30f59dd0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 768,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1020,
        -60
      ],
      "id": "7f4b13de-993a-48e7-bb6b-13e66290a77d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ZnRAuTwxwQoDdm6h",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1080,
        160
      ],
      "id": "475dfe9e-f788-4adc-8fec-53b3bb2584e5",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "weAKzDFn6izwi1pr",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract from File').item.json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1260,
        160
      ],
      "id": "3608f1b9-8284-460f-bfbf-501d17382cd5",
      "name": "Default Data Loader1"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft OneDrive1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7d7c1035-867a-4aab-bcfe-3559596d5013",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14d178341d60ac17e687e97f99fbd9c7576f73a73b0b76b4dcf67de696be9c55"
  },
  "id": "WJAqy7u82nFqnFZv",
  "tags": []
}